

html{
    max-width: 100%;
    height: 100vh;
   }
   
   body{    
       display: flex;
       justify-content: space-between;
       flex-direction: column;
       height:100%;
       width:100%;
       margin: 0; 
   }
   
   aside{
       width: 17.5%;
   }

   header{
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: row;
    width: fit-content;
    width: 2%;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
    header a{
        width: 100%;
    }

   main{
      height: fit-content;
      padding: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: fit-content;
   }
   
   .fullContent{
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
    height: 100%;
   }

   .oculus{
    width: 10%;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    padding-left: 20px;
   }

   .oculus ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   }

   .oculus img{
    width: 100%;
   }

   .oculus ol li{
    width: 30%;
    padding: 0;
    height: 15%;
    position: relative;
    display: flex;
   }

   .oculus ol li a{
    display: flex;
    width: 100%;
   }
   
   :hover{
    color: transparent;
   }

   :visited{
    color:rgb(19, 24, 78);;
   }


   @media only screen and (max-width: 800px) {
    header{
        width: 7%;
    }

    .oculus{
        height: 60%;
    }

    .oculus ol li{
        width: 100%;
    }


   }